@{
    ViewData["Title"] = "Редактирование";
    var item = @ViewBag.Item;
}

<h2>Редактирование товара</h2>
<form class="item" method="POST">
    <input name="id" value="@item.id" hidden />
    <label class="item-property">Производитель:    <input class="item-property-field" name="vendor" placeholder="@item.vendor" value="@item.vendor" required /></label>
    <label class="item-property">Модель:           <input class="item-property-field" name="model" placeholder="@item.model" value="@item.model" required /></label>
    <label class="item-property">ОС:               <input class="item-property-field" name="system" placeholder="@item.system" value="@item.system" required /></label>
    <label class="item-property">Процессор:        <input class="item-property-field" name="processor" placeholder="@item.processor" value="@item.processor" required /></label>
    <label class="item-property">Экран:            <input class="item-property-field" name="screen" placeholder="@item.screen" value="@item.screen" required /></label>
    <label class="item-property">Камера:           <input class="item-property-field" name="camera" placeholder="@item.camera" value="@item.camera" required /></label>
    <label class="item-property">RAM (ГБ):         <input class="item-property-field" name="ram" placeholder="@item.ram" value="@item.ram" type="number" required /></label>
    <label class="item-property">Батарея (мА⋅ч):    <input class="item-property-field" name="battery" placeholder="@item.battery" value="@item.battery" type="number" required /></label>
    <label class="item-property">Стоимость (руб.): <input class="item-property-field" name="price" placeholder="@item.price" value="@item.price" type="number" required /></label>
    <label class="item-property">В наличии (шт.):  <input class="item-property-field" name="available" placeholder="@item.available" value="@item.available" type="number" required /></label>
    <label class="item-property">Картинка (URL):   <input class="item-property-field" name="imgUrl" placeholder="http://img.ya.ru/123" value="@item.imgUrl" required /></label>
    <input class="button-submit" type="submit" value="Редактировать" />
</form>

@if (ViewBag.Result != null)
{
    
    @if (ViewBag.Result.Equals("SUCCESS"))
    {
        <p class="result-success">Товар успешно редактирован</p>
    }
    else
    {
        <p class="result-error">Ошибка редактирования. Проверьте введённые данные</p>
    }
}
