@{
    ViewData["Title"] = "Служба доставки";
}

<h2>Заказы</h2>
<ul class="item-list">
    @if (ViewBag.Orders.Count > 0)
    {
        @foreach (OrderModel order in ViewBag.Orders)
        {
            <li>
				<ul>
					@foreach (OrderItem item in order.items)
					{
						<li>
							<div class="item-summary">
								<h3 class="item-header">@item.vendor @item.model</h3>
								<h4>@item.price руб.</h4>
							</div>
						</li>
					}
				</ul>
                <span class="item-property">Адрес:    @order.address</span>
                <span class="item-property">Контакты: @order.contacts</span>
                <form method="POST" action="ChangeStatus/@order.id">
                    <label class="order-property">Статус:
                        <select class="order-property-field" name="status" value="@order.status">
                            <option value="Не обработано">Не обработано</option>
                            <option value="Принят в обработку">Принят в обработку</option>
                            <option value="Доставлен">Доставлен</option>
                            <option value="Отменён">Отменён</option>
                        </select>
                    </label>
                    <input class="button-submit" type="submit" value="Обновить статус" />
                </form>
            </li>
        }
    }
    else
    {
        <p class="no-items-text">Заказов нет</p>
    }
</ul>
