@{
    ViewData["Title"] = "Корзина";
}

<h2>Корзина</h2>
<ul class="item-list">
    @if (ViewBag.Items.Count > 0)
    {
        @foreach (PhoneModel item in ViewBag.Items)
        {

            <li>
                <img class="item-image-small" src="@item.imgUrl" />
                <div class="item-summary">
                    <h3 class="item-header">@item.vendor @item.model</h3>
                    @if (item.available > 0)
                    {
                        <h4>@item.price руб.</h4>
                    }
                    else
                    {
                        <h4 class="item-sold">Распродано</h4>
                    }
                    <span class="item-property">@item.system</span>
                    <span class="item-property">@item.screen</span>
                    @Html.ActionLink("Подробная информация", "Details", routeValues: new { id = item.id }, htmlAttributes: new { @class="button-details" })
                </div>
            </li>
        }
    }
    else
    {
        <p class="no-items-text">Корзина пуста</p>
    }
</ul>