@{
    ViewData["Title"] = "Корзина";
}

<h2>Корзина</h2>
<ul class="item-list">
    @if (ViewBag.Items.Count > 0)
    {
        @foreach (PhoneModel item in ViewBag.Items)
        {
            <li>
                <img class="item-image-small" src="@item.imgUrl" />
                <div class="item-summary">
                    <h3 class="item-header">@item.vendor @item.model</h3>
                    @if (item.available > 0)
                    {
                        <h4>@item.price руб. (@item.available в наличии)</h4>
                    }
                    else
                    {
                        <h4 class="item-sold">Распродано</h4>
                    }
                    <span class="item-property">@item.system</span>
                    <span class="item-property">@item.screen</span>
                    @Html.ActionLink("Подробная информация", "Details", routeValues: new { id = item.id }, htmlAttributes: new { @class="button-details" })
                    @Html.ActionLink("Удалить", "RemoveFromCart", routeValues: new { id = item.id }, htmlAttributes: new { @class="button-remove" })
                </div>
            </li>
        }
        <h3 class="order-header">Сделать заказ: </h3>
        <form action="MakeOrder/@ViewBag.Items.Count" method="POST">
            <label class="order-property">Сумма (руб.): <input class="order-property-field" value="@ViewBag.Sum" disabled required /></label>
            <label class="order-property">Адрес:        <input class="order-property-field" name="address" placeholder="ул. Уличная, д. 21" required /></label>
            <label class="order-property">Контакты:     <input class="order-property-field" name="contacts" placeholder="Телефон: +79316999888" required /></label>
            <input class="button-order" type="submit" value="Заказать" />
        </form>
    }
    else
    {
        <p class="no-items-text">Корзина пуста</p>
    }
</ul>